<!doctype html>
<html data-ng-app="GLClient" data-ng-csp data-ng-strict-di data-ng-keydown="keypress($event)" lang="{{GLTranslate.state.language}}">
  <head>
    <title data-ng-bind="pt ? pt : 'GlobaLeaks'"></title>
    <meta charset="utf-8" />
    <meta name="description" data-ng-attr-content="{{public.node.description ? public.node.description : 'Secure Whistleblowing Software'}}" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <meta name="referrer" content="never" />

    <!-- Ticket #1480 : Specify the ordered IE support starting from EDGE and ending with 11 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,11" />

    <link rel="preload" href="css/styles.css" as="style" /><link rel="preload" href="js/scripts.js" as="script" />

    <link rel="shortcut icon" href="/s/favicon">

    
  </head>

  <body class="container-fluid d-flex flex-column" data-ng-class="{'block-user-input': showLoadingPanel}" data-flow-prevent-drop>
    <noscript>
      <div id="NoScript">
        <h1>Error! :(</h1>
        <br /><br />
        <p>
          Your browser is not running Javascript that is required to
          use the whistleblowing client.<br /><br />

          It's common believe that Javascript and security don't sound
          well together, for this reason we suggest to use the Tor Browser,
	  an extremely tuned Firefox browser with Tor integrated.<br /><br />

          Here you can download the latest release of the
          <a href="https://www.torproject.org/download/download-easy.html.en">Tor Browser</a>.
        </p>
      </div>
    </noscript>

    <a class="skip-link d-none" href="#ContentBox"></a>

    <div id="PageOverlay" class="ng-cloak" data-ng-hide="!showLoadingPanel">
      <div id="Loader"></div>
    </div>

    <div id="PageContent" class="ng-cloak" data-ng-if="started" data-ng-class="Utils.classExtension()">
      <div data-ng-if="!public.node.root_tenant && public.node.mode === 'demo'" data-ng-include="'views/partials/demo.html'"></div>
      <div data-ng-if="!public.node.disable_privacy_badge" data-ng-include="'views/partials/privacybadge.html'"></div>
      <div data-ng-if="!embedded" data-ng-include="'views/partials/header.html'"></div>
      <div id="MessagesConsoleBox" data-ng-include="'views/partials/messageconsole.html'"></div>
      <div id="ContentBox">
	<div class="row">
          <div data-ng-if="sidebar" id="Sidebar" class="col-md-2 flex-column" data-ng-include="sidebar"></div>
          <div data-ng-class="{'col-md-10': sidebar, 'col-md-12': !sidebar}" data-ng-view=""></div>
        </div>
      </div>
    </div>

    <footer id="FooterBox" class="ng-cloak" data-ng-if="started && !embedded" data-ng-include="'views/partials/footer.html'"></footer>

    <script src="js/scripts.js"></script>
  </body>
</html>
